.details {
  &__title {
    margin-bottom: 48px;

    @include on-tablet {
      margin-bottom: 64px;
    }

    @include on-desktop {
      margin-bottom: 48px;
    }
  }

  &__wrapper {
    row-gap: 40px;
    display: grid;

    @include on-tablet {
      row-gap: 48px;
    }
  }

  &__button {
    margin-top: 40px;
    display: block;
    margin-inline: auto;
    width: 280px;
    height: 56px;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    line-height: 56px;
    border-radius: 40px;
    color: $contrast-color;
    background-color: #fff;
    transition: all $effect-duration;

    @include on-tablet {
      margin-top: 48px;
      width: 392px;
    }

    @include on-desktop {
      width: 324px;
    }

    &:hover {
      box-shadow: $button-shadow-hover;
    }

    &:active {
      box-shadow: $button-shadow-active;
    }
  }
}
