.detail {
  &__title {
    padding-top: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }

  &__description {
    padding-top: 8px;
    max-width: 672px;
  }

  &__photos {
    @include page-grid;
  }

  &__link {
    position: relative;

    &--wide {
      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 8;
      }
    }

    &--square {
      height: 0;
      padding-bottom: 100%;

      @include on-tablet {
        grid-column: span 2;
      }

      @include on-desktop {
        grid-column: span 4;
      }
    }
  }

  &__photo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include hover(scale, 1.05);
  }
}
