.footer {
  height: 200px;
  margin-left: -25px;
  background-image: url(../images/footer-bg.png);
  background-size: cover;
  background-position: calc(100% + 25px) center;
  background-repeat: no-repeat;
  position: sticky;
  bottom: 0;
  z-index: -1;

  @include on-tablet {
    margin-left: -60px;
    height: 480px;
    background-position: calc(100% + 60px) center;
  }

  @include on-desktop {
    margin-left: 0;
    background-position: center center;
    height: 555px;
  }
}
