.main {
  background-color: $background-color;

  &__content {
    padding-block: 60px 120px;

    @include on-tablet {
      padding-block: 120px 102px;
    }

    @include on-desktop {
      padding-bottom: 164px;
    }
  }

  &__compare-bikes {
    margin-top: 92px;

    @include on-tablet {
      margin-top: 132px;
    }

    @include on-desktop {
      margin-top: 164px;
    }
  }

  &__details {
    margin-top: 92px;

    @include on-tablet {
      margin-top: 120px;
    }

    @include on-desktop {
      margin-top: 144px;
    }
  }

  &__contact-us {
    margin-top: 80px;

    @include on-tablet {
      margin-top: 120px;
    }

    @include on-desktop {
      margin-top: 180px;
    }
  }
}

.container {
  @include content-padding-inline;
}
