body,
h1,
h2,
h3,
p,
ul,
form,
button,
input {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  border: none;
  outline: none;
  cursor: pointer;
  font-family: inherit;
}

textarea {
  resize: none;
}
