$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$effect-duration: 0.3s;
$main-text-color: #fff;
$contrast-color: #1d1d1d;
$background-color: #1d1d1d;
$input-background-color: #f8f8fa;
$button-shadow-hover: 1px 4px 16px 0 #e8e8f066;
$button-shadow-active: 1px 4px 16px 0 #e8e8f0a3;
